* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(134, 115, 54, 0.8);

}

.container {
  width: 70vw;
  height: 80vh;

  max-height: 800px;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 7%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background: rgb(108, 66, 85);
  background: radial-gradient(circle, rgba(108, 66, 85, 1) 0%, rgba(213, 183, 86, 1) 38%, rgba(206, 177, 83, 1) 40%, rgba(0, 0, 0, 1) 100%);

  font-size: 20px;
  color: white;
}

.temperature {

  font-size: 65px;
  letter-spacing: 3px;

  padding: 10px;
  margin: 100px;

}

.celcjusz {
  margin-top: 1rem;
}

.status {
  padding: 10px;
  font-size: 30px;
  height: 25%;
}

.showInformation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;

  margin-bottom: 2rem;
}

h4 {
  letter-spacing: 2px;
  font-weight: bolder;
  padding: 1px;
  margin: 2px;
  font-size: 30px;
  margin-bottom: .2rem;
}

.weatherInformation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.date,
.time {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 30px;
  padding: .3rem;
}

.inputDate,
.inputTime {
  font-family: 'Montserrat';
  width: 45%;
  font-size: 20px;
}

.showResult {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 35px;
  height: 60px;

  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 2rem;
}

.showResult:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
}



.result {
  margin-top: 2rem;
  font-size: 30px;
  min-height: 35px;
}

@media (max-width: 415px) {
  h4 {
    font-size: 8px;
  }

  h5 {
    font-size: 8px;
  }
}